

<html>
   <body style="background:#dfe6f7;">
      <form action = "http://127.0.0.1:5000/fileUpload" method = "POST" enctype = "multipart/form-data">
         <div style="text-align:center;">
            <h2 style="font-family:verdana; font-size:30px; width:500px; background:#c9d4f2; padding:26px 40px; color:#333; border:1px solid #fff;
                border-radius:30px; margin:100px auto 0;">
                Weather Image Prediction 
            <h2>
            <div style="width:360px; margin:0 auto; overflow:hodden;">
               <!-- <img src="D:\study_data\_data\season\배경/O9S1SH0.jpg" width="200" height="200"> -->
               <img src="C:\study\test\img\1.jpg" alt="선택사진" style="width:360px; height:auto;">
               <input type = "file" name = "file" style="display:block;">
               <input type = "submit" style="display:block; width:100%; margin-top:5px;">   
            </div>
         </div>
      </form>
   </body>
</html>