
<!DOCTYPE html>
<html>
   <body style="backgroud-color:#FF0000;">
      <form action = "http://127.0.0.1:5000/fileUpload" method = "POST"
         enctype = "multipart/form-data">
        
         <h2 style="font-family:verdana;font-size:300%;text-align:center;color:red;"> < 날씨 이미지 예측 ><h2>
       
         <body>
         <body style="text-align:center;">   
            <input type = "file" name = "file" />
            <div class="floBanMob1 hidden-lg">
               
                 <img src="D:\study_data\_data\season\배경/O9S1SH0.jpg" width="200" height="200">
               </a>
             </div>
        <body    
        
      </body>
         <input type = "submit"/>  
      </form>
      </body>
</html>